*{
    padding: 0;
    margin: 0;
}
.tituloClans{
    background-color: black;
}
.tarjetaClan{
    width: 16rem;
    height: 12rem;
    background-color: antiquewhite;
}
.clansMain{
    background-image: url(../Imgs/clanslogo.png);
    background-position: center;
    background-size: contain;
    min-height: 90vh;
}
.imagenCh{
    background-color: black;
}