.banner{
    background-image: url(./z-img/bg-1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: flex-start;
    padding-top: 4rem;
}

.banner-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.title-img{
    max-width: 80px;
    margin-right: 1rem;
}

.title h1{
    font-size: 3rem;
    color: #fffdfc;
    margin: 0;
}

.banner-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #ebebeb;
    padding: 0 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.btn-1{
    display: inline-block;
    padding: 12px 30px;
    border: 1px solid #fffdfc;
    color: #fffdfc;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.btn-1:hover{
    color: #1b293a;
    background-color: #fffdfc;
}

.general{
    background-image: url(./z-img/bg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    padding: 2rem 0;
}

h2{
    font-size: 2rem;
    color: #fffdfc;
    text-align: center;
    margin-bottom: 1.5rem;
}

.general-img{
    max-height: 100vh;
}

.general-txt p{
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ebebeb;
    border-radius: 0.5rem;
    background-color: black;
    opacity: 0.8;
    color: #ebebeb;
    font-size: 16px;
    text-align: justify;
}

.general-txt span {
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
}

.info-1{
    background-image: url(./z-img/bg-2.jpg);
    background-position: center;
    background-size: 100% 100%;
    min-height: 90vh;
}

.info-1 h2{
    position: relative;
    z-index: 10;
    top: 2rem;
    margin: 0;
}

.ak-p-container {
    position: relative;
    display: inline-block;
}

.ak-p img{
    display: block;
    width: 300px;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.ak-p-container :hover .overlay {
    opacity: 1;
}























.int-1{
    background-image: url(./img-n/bg-3-p1.jpg);
    background-position: center;
    background-size: 100% 100%;
    min-height: 90vh;
}

.int-2{
    background-image: url(./img-n/bg-3-p2.jpg);
    background-position: center;
    background-size: 100% 100%;
    min-height: 90vh;
}

.int-3{
    background-image: url(./img-n/bg-3-p3.jpg);
    background-position: center;
    background-size: 100% 100%;
    min-height: 90vh;
}

.footer{
    padding: 100px 0 0 0;
    text-align: center;
}

.form{
    margin-top: 35px;
}

.campo{
    margin-right: 10px;
    padding: 17px 35px;
    border: 2px solid #b4b4b4;
    outline: none;
    color: #1b293a;
}

.campo::placeholder{
    color: #b4b4b4;
}

.btn-2{
    padding: 17px 35px;
    border: 2px solid #1b293a;
    background-color: #1b293a;
    color: #fffdfc;
}

.footer-txt{
    margin-top: 100px;
    border-top: 1px solid;
    padding: 20px 0;
}

.footer-txt p{
    color: #1b293a;
    font-size: 16px;
}
