.banner{
    background-image: url(./z-img/ch-bg2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size:  cover;
    min-height: 40vh;
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
}

.banner-content{
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.title-img{
    max-width: 150px;
}


.general{
    position: relative;
    z-index: 0; 
}

.general::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./z-img/ch-bg1.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
    min-height: 70vh;
}
