* {
    padding: 0;
    margin: 0;
}

.villagesMain {
    background-image: url(../../Imgs/aldeasLogos.png);
    min-height: 100vh;
    background-position: center;
    background-repeat: repeat-y;
    background-size: contain;
}

.tarjetaVilla {
    width: 30rem;
    background-color: rgba(255, 202, 103, 0.452);
    height: 30rem;
    border: 4px black solid;
}
.foto{
    border-radius: 25px;
}
.villagesTitle{
    height: 20vh;
    background-color: black;
}
.js{
    width: 35%;
    transform: rotate(310deg)
}
.detalles{
    background-color: black;
    height: 100vh;
}
#detailsB{
    position: absolute;
    left: 8rem;
    bottom: 0; 
    background-color: rgb(247, 174, 90);
    color: rgb(0, 0, 0);
    border: 3px black solid;
    font-weight: 600;
}