* {
    padding: 0;
    margin: 0;
}

.villagesMain {
    background-image: url(../../Imgs/aldeasLogos.png);
    min-height: 100vh;
    background-position: center;
    background-repeat: repeat-y;
    background-size: contain;
}
#charactersVillas{
    background-color: black;
}
.tituloVi{
    COLOR: rgb(201, 201, 195);
}
.detaiL{
    width: 50vw;
}

.tarjetaVilla {
    width: 30rem;
    background-color: rgb(247, 174, 90);
    height: 30rem;
    border: 4px rgb(73, 64, 64) solid;
}
.detai{
    background-color: rgb(241, 220, 192);
    width: 18rem;
    height: 19rem;
    border-radius: 20px;
}
.dividir{
    background-color: white;
    height: 7vh;
}
.foto{
    border-radius: 25px;
}
.starV{
    height: 3rem;
    width: 3rem;
}
.villagesTitle{
    height: 20vh;
    background-color: black;
}
.villagesTitle img{
    max-width: 80vw;
}
.js{
    width: 35%;
    transform: rotate(310deg)
}
.detalles{
    background-color: black;
    min-height: 100vh;
}
#detailsB{
    position: absolute;
    left: 8rem;
    bottom: 0; 
    background-color: rgb(247, 174, 90);
    color: rgb(0, 0, 0);
    border: 3px black solid;
    font-weight: 600;
}

/* Modal */


.boton-modal label{
    padding: 10px 15px;
    background-color: rgb(255, 166, 0);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    cursor: poiner;
    transition: all 300mx ease;
}
.boton-modal:hover{
    background-color: rgb(116, 177, 196);
}
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(210, 105, 30, 0.651);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}
.content-modal h2{
    margin-bottom: 15px;

}
.content-modal p{
    padding: 15% 0;
    border-top: 1px solid rgb(236, 213, 213);
    border-bottom: 1 px solid rgb(250, 216, 216);
}
.content-modal btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.container-modal .btn cerrar label{
    padding: 7px 10px;
    background-color: rgb(255, 145, 0);
    color: white;
    border-radius: 8px;
    cursor: poiner;
    transition: all 300mx ease;
}
.container-modal .btn cerrar label:hover{
    background-color: aqua;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}