* {
    padding: 0;
    margin: 0;
}

.init {
    width: 100%;
    height: 100vh;
    background-image: url(../Imgs/init.jpg);
    background-size: cover;
    background-position: center;
}

.aros {
    width: 40vw;
    height: 50vh;
}

.aro1 {
    width: 38vw;
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.videoInicio {
    border-radius: 10vw;
    max-height: 80vh;
    width: 95vw;
}

.enterNoruto {
    width: 25vw;
    position: absolute;
    left: 5vw;
    top: 20vh;
}

.narutoTitulo {
    max-width: 80vw;
}

.fondo1 {
    width: 100vw;
    min-height: 51vh;
}

.navegador {
    border: rgb(12, 12, 12) solid 2px;
    font-weight: 800;
    background-color: rgb(233, 171, 95);
}

.navegador img {
    height: 100%;
}

.fuego img {
    height: 10vh;
}

.characters {
    color: rgba(255, 140, 0, 0.281);
    text-align: justify;
    align-content: space-around;
    margin-top: 9vh;
}

.fuente p {
    font-family: 'Courier New', Courier, monospace;

}
.contacto{
    min-height: 64vh;
}

.characters p {
    font-family: 'Courier New', Courier, monospace;
}

.bord {
    border-bottom: 2px solid black;
}

.bodyIndex {
    background-color: rgb(0, 0, 0);
}



.moreCharacter {
    border: 1px black solid;
    background-color: rgba(218, 252, 29, 0.61);
    color: black;
    width: 30vw;
}

.tarjetaCharacter {
    width: 5rem;
    height: 5rem;
}

.tarjetaCharacter img {
    max-height: 6vh;
}

.botonAll {
    width: 12vw;
    height: 6vh;
    background-color: rgb(247, 174, 90);
    color: rgb(0, 0, 0);
    border: 3px black solid;
}

.section1 img {
    height: 89vh;
}

.villages {
    background-repeat: no-repeat;
}

.kekkei,
.kara,
.tailed,
.akatsuki {
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    min-height: 100vh;
}

.charactersFondo {
    background-image: url(../Imgs/fondo1.jpg);
    background-position: center;
    min-height: 160vh;
}

.tailed {
    background-image: url(../Imgs/FONDO7.png);
    background-size: contain;
}

.villages {
    min-height: 130vh;
    background-color: white;
    background-image: url(../Imgs/fondoVillages.png);
    background-repeat: repeat;
}

.kekkei {
    background-image: url(../Imgs/fondo3.webp);
}

.kara {
    background-image: url(../Imgs/FONDO4.webp);
}

.akatsuki {
    background-image: url(../Imgs/fondo6.jpg);
}

.tituloSection {
    height: 7vh;
    max-width: 80vw;
}

#makeCategories {
    background-color: rgba(146, 130, 40, 0.918);
    align-items: center;
    border-radius: 15px;
}

.tarjetaTamaño {
    width: 14rem;
    height: 13rem;
    background-color: rgba(250, 249, 247, 0.884);
    color: rgb(29, 24, 16);
    border: 3px rgb(224, 196, 35) solid;
    border-radius: 30px;
}

.footerIndex {
    height: 35vh;
    color: rgb(206, 206, 126);
    background-color: black;
}

.villa img {
    height: 50vh;
}

.villaH {
    font-size: large;
    background-color: yellow;
    height: 3vh;
    border: solid black 3px;
}

.clans {
    min-height: 90vh;
    background-color: white;
    background-image: url(../Imgs/villagesFondoC.png);
    background-repeat: no-repeat;
}

.parrafoPersonajes {
    border-radius: 30px;
    color: rgb(3, 3, 0);
    padding: 2vh;
    background-color: rgb(255, 255, 255);
}
.parrafo{
    border-radius: 30px;
    color: rgb(3, 3, 0);
    padding: 2vh;
    background-color: rgb(255, 255, 255);
    text-align: justify;
}

.parrafoAkatsuki {
    border-radius: 30px;
    color: wheat;
    padding: 7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px rgb(192, 169, 106) solid;
    background-color: rgba(15, 0, 0, 0.555);
}

.parrafoClans {
    border-radius: 30px;
    color: rgb(165, 142, 116);
    padding: 7vh;
    align-self: center;
    width: 45vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px rgb(213, 243, 41) solid;
    background-color: rgba(27, 21, 21, 0.329);
}

.parrafoKara {
    border-radius: 30px;
    border: 1px rgb(213, 243, 41) solid;
    background-color: rgba(27, 21, 21, 0.712);
    color: white;
    padding: 7vh;
}

.containerDiv {
    max-width: 100%;
}

.containerDivs {
    max-width: 100%;
    border-bottom: 1px black solid;
}

.containerBlack {
    background-color: black;
}

.tarjetaTamañoK {
    width: 12rem;
    height: 14rem;
    background-color: rgba(253, 250, 250, 0.856);
}

.videoTailed {
    width: 100vw;
    height: 50%;
    border: 8px rgba(252, 252, 252, 0.507) solid;
}

.contenedorVideo {
    max-width: 90vw;
    height: 70vh;
    background-image: url(../Imgs/fondo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.kekkeiL {
    width: 40vw;
}

.backDark {
    background-color: black;
}
.responsiveTailed{
    text-align: justify;
    width: 95vw;
}
@media (max-width:924px)and (min-width:723px){
    .botonAll {
        width: 19vw;
    }
    .responsiveTailed p {
        width: 89vw;
        margin-inline: auto;
    }

    .contenedorVideo {
        width: 70vw;
    }
    .kekkeiL {
        width: 95vw;
    }
    .parrafoClans{
        width: 90vw;
    }
}


@media (max-width:722px) {
    .responsiveTailed p {
        width: 89vw;
        margin-inline: auto;
    }
    .botonAll {
        width: 33vw;
    }

    .contenedorVideo {
        width: 70vw;
    }
    .kekkeiL {
        width: 95vw;
    }
    .parrafoClans {
        width: 90vw
    }
    .parrafoPersonajes{
        width: 100vw;
        text-align: justify;
    }
    
}