* {
    padding: 0;
    margin: 0;
}

.init {
    width: 100%;
    height: 100vh;
    background-image: url(../Imgs/init.jpg);
    background-size: cover;
    background-position: center;
}

.aros {
    width: 40vw;
    height: 50vh;
}

.aro1 {
    width: 38vw;
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.videoInicio{
    border-radius: 10vw;
    max-height: 80vh;
    width: 95vw;
}
.enterNoruto {
    width: 25vw;
    position: absolute;
    left: 5vw;
    top: 20vh;
}

.narutoTitulo {
    max-width: 80vw;
}

.fondo1 {
    width: 100vw;
    min-height: 51vh;
}

.navegador {
    border: rgb(12, 12, 12) solid 2px;
    font-weight: 800;
    background-color: rgb(233, 171, 95);
}

.navegador img {
    height: 100%;
}

.fuego img {
    height: 7vh;
}
.characters {
    color: rgba(255, 140, 0, 0.281);
    text-align: justify;
    align-content: space-around;
    margin-top: 9vh;
}

.characters p {
    font-family:'Courier New', Courier, monospace;
}
.bord{
    border-bottom: 2px solid black;
}

.bodyIndex {
    background-color: rgb(255, 255, 255);
}

.charactersFondo {
    background-image: url(../Imgs/fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 160vh;
}


.moreCharacter{
    border: 1px black solid;
    background-color: rgba(218, 252, 29, 0.61);
    color: black;
    width: 30vw;
}
.tarjetaCharacter{
    width: 16rem;
    height: 15rem;
}
.tarjetaCharacter img{
   max-height: 17vh;
}
.botonAll{
    height: 7vh;
    background-color: rgb(194, 8, 8);
    color: white;
}
.section1 img {
    height: 89vh;
}
.villages,
.kekkei,
.kara,
.tailed,
.akatsuki {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.villages {
    min-height: 130vh;
    background-image: url(../Imgs/fondo2.jpeg);
}



.kekkei {
    background-image: url(../Imgs/fondo3.avif);
}

.kara {
    background-image: url(../Imgs/FONDO4.webp);
}

.tailed {
    background-image: url(../Imgs/R.gif);
}

.akatsuki {
    background-image: url(../Imgs/fondo6.jpg);
}

.tituloSection {
    height: 7vh;
    max-width: 80vw;
}

#makeCategories {
    background-color: rgba(146, 130, 40, 0.918);
    align-items: center;
    border-radius: 15px;
}

.tarjetaTamaño {
    width: 14rem;
    height: 13rem;
    background-color: rgba(250, 249, 247, 0.884);
    color: rgb(29, 24, 16);
    border: 3px rgb(224, 196, 35) solid;
    border-radius: 30px;
}

.footerIndex {
    height: 35vh;
    color: rgb(206, 206, 126);
    background-color: black;
}

.villa img {
    height: 50vh;
}

.villaH {
    font-size: large;
    background-color: yellow;
    height: 3vh;
    border: solid black 3px;
}

.starVacia {
    width: 2vw;
}

.clans {
    min-height: 90vh;
    background-color: beige;
    background-position: center;
    background-image: url(../Imgs/clansFondo.jpg);
}

.parrafoTailed {
    border-radius: 30px;
    color: rgb(20, 6, 82);
    padding: 7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px rgb(192, 169, 106) solid;
    background-color: rgba(219, 181, 54, 0.555);

}
.parrafoPersonajes {
    border-radius: 30px;
    color: rgb(3, 3, 0);
    padding: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
}
.parrafoVillages {
    background-color: rgba(243, 243, 235, 0.932);
    font-weight: 500
}
.parrafoAkatsuki {
    border-radius: 30px;
    color: wheat;
    padding: 7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px rgb(192, 169, 106) solid;
    background-color: rgba(15, 0, 0, 0.555);
}

.parrafoKara {
    border-radius: 30px;
    color: wheat;
    padding: 7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px rgb(192, 169, 106) solid;
    background-color: rgba(15, 0, 0, 0.555);
}

.parrafoClans {
    border-radius: 30px;
    color: rgb(165, 142, 116);
    padding: 7vh;
    align-self: center;
    width: 30vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px rgb(216, 204, 179) solid;
    background-color: rgba(27, 21, 21, 0.329);
}

.containerDiv {
    max-width: 100%;
}

.containerDivs {
    max-width: 100%;
    border: solid 1px rgb(253, 252, 253);
}

.seeMore {
    height: 40vh;
    background-color: rgba(75, 74, 64, 0.226);
}

.seeMore img {
    width: 15vw;
}

.see {
    background-color: rgb(3, 28, 82);
    border-radius: 10px;
}

.tarjetaTamañoK {
    width: 6vw;
    height: 13vh;
    background-color: rgb(252, 249, 249);
}
.videoTailed{
    width: 18vw;
    border-radius: 15vw;
    border: 8px rgb(0, 0, 0) solid;
}
.contenedorVideo{
    width: 30vw;
}